<%if notice.nil? == false%>
	<div class = "container">
		<div class = "alert alert-success alert-dismissable">
			<button type = "button" class = "close" data-dismiss = "alert">&times;</button>
			<%= notice%>
		</div>
	</div>
<%end%>

