<div class = "container" style = "background-color:black;opacity:0.6">
	<div align = "center" id = "welcomeDiv" class = "animated fadeInRight">
		<br/><br/><br/><br/><br/><br/>
		
		<h1 style = "color: white; font-size: 500%">
			Falco 
			<font color = "red">+</font> 
			Biometrics
			<font color = "red">+</font>
			iEMS
		</h1>
		
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		
		<div class = "col-md-3"></div>
		<%= link_to 'Upload New Falco/Biometrics/iEMS Records', new_report_path(step: 1), class: "btn btn-info col-md-6"%>
		
		<br/><br/><br/>
		
		<div class = "col-md-3"></div>
		<%= link_to 'Download Old Reports', reports_path, class: "btn btn-warning col-md-6", id: 'Link'%>
		<br/><br/><br/><br/><br/><br/>
	</div>
</div>