<div class="container jumbotron">
	<div class="jumbotron" align="center">
		<h1>Accounting and DTR Reports Generation</h1><br>
			<h3>Steps on how to generate reports:</h3>
			<ol>
				<li>Import the 3 CSV Files(biometrics, falco, requests) needed to generate the report</li>
				<li>After importing, click Submit button and wait for the system while generating the contents of the report</li>
				<li>Once the generation of the report is done, click the Download button to download the excel file</li>
			</ol>
		<%= link_to 'Upload CSV Files', reports_path, class: "btn btn-info"%>
	</div>
</div>
	
